<style type="text/css">

body {
    font-family: sans-serif;
}

#shape {
    display: none;
    position: relative;
    background-color:greenyellow;
    width: 100px;
    height: 100px;

}
.bold {
    font-weight: bold;
}

</style>